
<div class="mid-wrapper-reset-pw">
<div class="reset-pw-form-wrapper">
{% form 'reset_customer_password' %}
  <h1 class="reset-pw-heading">Reset Account Password</h1>
  <p class="reset-pw-sub-heading">Enter a new password</p>
  {{ form.errors | default_errors }}
  <input type="password" class="form-input-reset-pw w-input" maxlength="256" name="customer[password]" placeholder="Password" id="ResetPassword" required="" placeholder="password" value="">
  <input type="password" class="form-input-reset-pw w-input" maxlength="256" name="customer[password_confirmation]" placeholder="Confirm Password" id="PasswordConfirmation" required="" placeholder="password" value="">
  <div class="form-btn-wrapper">
    <input type="submit" value="Submit" data-wait="Please wait..." class="form-btn-reset-pw w-button">
</div>
{% endform %}
</div>
</div>