<div class="alpa-modal">
  <div class="alpa-modal-content-wrapper">
    <div class="alpa-modal-content-inner">
      <div class="alpa-modal-heading">ARE YOU A UNION MEMBER?</div>
      <div class="alpa-modal-img-wrapper"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-white-min.png" alt="Cage Marshall Mark" width="150" class="alpa-modal-img"></div>
      <p class="alpa-modal-text">Access our union-specific websites below.</p>

      <div class="alpa-modal-btn-wrapper">
      	<a href="https://alpa.cageconsulting.com/" target="_blank" class="alpa-modal-btn alpa-modal-btn-top w-button">ALPA MEMBERS</a>
      	<a href="https://teamsters.cageconsulting.com/" target="_blank" class="alpa-modal-btn w-button">TEAMSTERS 357 MEMBERS</a>
      </div>

      <img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/close.png" alt="Close" class="alpa-modal-close-btn">
  	</div>
  </div>
</div>