<div class="footer-wrapper">
  <div class="footer-top-wrapper">
    <div class="footer-top-container">
      <div class="footer-logo-wrapper"><a href="/" aria-current="page" class="footer-logo-link w-inline-block w--current"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-logo-white-min.png" alt="Cage Marshall Consulting" class="footer-logo-img"></a></div>
      <div class="footer-content-block">
        <div class="footer-menu-row w-row">
          <div class="footer-menu-col w-col w-col-25">
            <div class="footer-menu-col-inner">
              <div class="footer-menu-link-wrapper">
                <a href="/" aria-current="page" class="footer-menu-link w-inline-block w--current">
                  <div>Home</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper">
                <a href="/pages/quiz" class="footer-menu-link w-inline-block">
                  <div>Find a Service</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper footer-menu-link-wrapper-last">
                <a href="/pages/contact" class="footer-menu-link w-inline-block">
                  <div>Contact</div>
                </a>
              </div>
            </div>
          </div>
          <div class="footer-menu-col w-col w-col-25">
            <div class="footer-menu-col-inner">
              <div class="footer-menu-link-wrapper">
                <a href="/pages/airline-interview-preparation" class="footer-menu-link w-inline-block">
                  <div>Pilot Career Services</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper">
                <a href="/collections/general-job-search-services" class="footer-menu-link w-inline-block">
                  <div>General Job Search</div>
                </a>
              </div>
              <div class="footer-menu-link-wrapper footer-menu-link-wrapper-last">
                <a href="/pages/website-disclaimer-new" class="footer-menu-link w-inline-block">
                  <div>Website & Services Disclaimer </div>
                </a>
              </div>
            </div>
          </div>


          <div class="footer-menu-col footer-menu-col-last w-col w-col-4">
            {% comment %}
            <div class="footer-col-heading">Are You An Existing Client?</div>
            <div class="footer-menu-btn-wrapper">
              <a href="/account/login" class="btn-white w-inline-block">
                <div class="btn-breaker"></div>
                <div>Account Login</div>
              </a>
            </div>
            {% endcomment %}


            
           
           <div class="social-icon-wrapper">
                  <a href="https://www.instagram.com/cagemarshallconsulting/?hl=en" target="_blank" class="footer-menu-link-wrapper social">
                    <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-instagram.svg?v=1678496283" style="margin-right: 20px" width="90">
                  </a>
                  <a href="https://www.linkedin.com/company/cagemarshallconsulting" target="_blank" class="footer-menu-link-wrapper social">
                    <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-linkedin.svg?v=1678496282" style="margin-right: 20px" width="90">
                  </a>
                  <a href="https://www.facebook.com/CageMarshallConsulting/" target="_blank" class="footer-menu-link-wrapper social">
                    <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-facebook.svg?v=1678496282" style="margin-right: 20px" width="90">
                  </a>
                  <a href="https://twitter.com/cageconsulting?lang=en" target="_blank" class="footer-menu-link-wrapper social">
                    <img class="social-icon" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-twitter.svg?v=1678496282" style="margin-right: 20px" width="90">
                  </a>
          </div>

            <div class="footer-col-heading center">Our Partners</div>
              <div class="footer-menu-col w-col w-col-4 full">
                <div class="footer-menu-col-inner flex">

                  <a href="https://fastpilots.org/" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/fast.png?v=1655836970" style="margin-right: 20px" width="90">
                  </a>

                  <a href="https://www.latinopilot.org/" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/lpa.png?v=1655836969" style="margin-right: 20px" width="90">
                  </a>

                  <a href="https://www.ngpa.org/?locale=en_us" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/ngpa.png?v=1655836969" style="margin-right: 20px" width="90">
                  </a>
                  
                  <a href="https://sistersoftheskies.org/" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/sos.png?v=1655836969" style="margin-right: 20px" width="90">
                  </a>

                  {%comment%}
                  <a href="https://obap.org/" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/obap.png?v=1655836969" width="90">
                  </a>
                  {%endcomment%}
                  
                  <a href="https://pilotpipeline.com/" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/pilot-pipeline-w.png?v=1656444235" style="margin-right: 20px" width="90">
                  </a>
                  
                  <a href="https://www.asianpilots.org/" target="_blank" class="footer-menu-link-wrapper img">
                    <img src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/papa.png?v=1655836969" style="margin-right: 20px" width="90">
                  </a>


                </div>
              </div>
            </div>



        </div>
      </div>
      <div class="footer-contact-section">
        <div class="footer-col-contact-breaker"></div>
        <div class="footer-contact-row">
          <div class="footer-contact-col">
            <a href="tel:+17202221432" class="footer-contact-link w-inline-block">
              <div>(720) 222-1432</div>
            </a>
          </div>
          <div class="footer-contact-col footer-contact-col-middle">
            <a href="mailto:info@cageconsulting.com" class="footer-contact-link w-inline-block">
              <div>info@cageconsulting.com</div>
            </a>
          </div>
        </div>
        <div class="footer-col-contact-breaker footer-col-contact-breaker-alt"></div>
      </div>
      <div class="footer-disclaimer-section">
        <p class="footer-disclaimers-text">Refund Policy: Services are valid until used, are non-transferable, non-refundable, and cannot be prorated.</p>
        <p class="footer-disclaimers-text">Disclaimer: All information supplied to our clients, workshop participants, webinar attendees, etc., is the intellectual and proprietary property of Cage Marshall Consulting. As a client of Cage Consulting/Cage Marshall Consulting, you agree to refrain from disclosing, distributing, passing or forwarding on, any information that CC/CMC supplies in email, written, PowerPoint, Podcast, webinar, video or verbal form to any of our competitors, any or your current or past employers, any business, mailing warehouse, coworkers, friends, etc. Additionally, it is illegal to record any conversations with a CMC staff member without expressed written or verbal consent. Distribution or recording of this information will result in legal actions.</p>
        <p class="footer-disclaimers-text"><strong>Client Confidentiality:</strong> Cage Consulting/Cage Marshall Consulting, Inc. and its staff adhere to a strict code of ethics, as well as complete confidentiality with all client consultations. Any written or verbal communications supplied to us by clients is kept and maintained in a private and confidential manner with your assigned consultant. Information is NEVER disclosed to any business, mailing warehouse, family, friends, current, potential or past employers.</p>
        <p class="footer-disclaimers-text">Cage Consulting/Cage Marshall Consulting and its staff do not provide medical, legal, or financial advice. Clients are responsible for all of their own personal career, legal, medical, and financial decisions. Additionally, clients are responsible for all decisions and information disclosed or not disclosed by the applicant. This disclosure could include, but is not limited, to written or verbal information regarding applications, resumes, logbooks, cover letters, addendums, job fairs, Meet and Greets, interviews, etc. Cage Consulting/Cage Marshall Consulting provides career advice and recommendations based on our educated and experienced opinions and only at the request of our client. The use of the services of Cage Consulting/Marshall Consulting does not guarantee employment, career advancement, preferential interviews or meet and greets. Clients agree to hold Cage Consulting/Cage Marshall Consulting and its staff harmless from allegations by the clients for errors/omissions with regard to the professional services offered.</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="footer-bottom-text">© 2020 | Designed by <a href="https://www.sidekickwebstudio.com/" target="_blank" class="footer-bottom-link">SIDEKICK WEB STUDIO</a></div>
  </div>
</div>



{% schema %}

{
  "name": "Footer"
}
{% endschema %}