<div class="top-wrapper">
  <div class="top-bar-wrapper">
    <div class="top-bar-text rte">{{section.settings.announcement_text}}</div>
  </div>

  <div class="nav-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="nav-bar w-nav">
      <div class="nav-container w-container">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-links-wrapper">
              <div class="nav-info-wrapper">
                <a href="/account" class="nav-info-link w-inline-block">
                  <img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/Account-Icon.png" alt="Account" class="nav-info-img">
                  <div>Account</div>
                </a>
                <a href="/cart" class="nav-info-link w-inline-block">
                  <img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/Cart-Icon-new-min.png" alt="Cart" class="nav-info-img">
                  <div>Cart</div>
                </a>
              </div>
            </div><a href="/" aria-current="page" class="nav-link w-nav-link">Home</a>

            <div data-hover="1" data-delay="0" class="nav-dropdown w-dropdown">
              <div class="nav-dropdown-toggle w-dropdown-toggle">
                <div>Services</div>
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="nav-dropdown-menu nav-dropdown-menu-2 w-dropdown-list">
                <div class="nav-dropdown-flex-row">
                  <div class="nav-dropdown-flex-col nav-dropdown-flex-col-services">
                    <div class="nav-dropdown-flex-col-inner">
                      <div class="nav-dropdown-link-wrapper nav-dropdown-link-wrapper-first">
                        <div id="nav-dropdown-services-link-1" class="nav-dropdown-link-services nav-dropdown-link-services-active">PILOT CAREER SERVICES</div>
                      </div>
                      <div class="nav-dropdown-link-wrapper nav-dropdown-link-wrapper-last">
                        <div id="nav-dropdown-services-link-2" class="nav-dropdown-link-services">GENERAL JOB SEARCH SERVICES</div>
                      </div>
                    </div>
                  </div>
                  <div class="nav-dropdown-flex-col-middle nav-dropdown-flex-col-middle-services">
                    <div id="nav-dropdown-menu-services-1" class="nav-dropdown-flex-col-menu nav-dropdown-flex-col-menu-active">
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/pages/airline-interview-preparation" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>All Services</div>
                        </a>
                      </div>
                      {% endcomment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/resume-cover-letter-services/flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Resume & Cover Letter Services</div>
                        </a>
                      </div>
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/application-review-services/flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Application Review Services</div>
                        </a>
                      </div>
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/premium-pilot-interview-prep-package" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Interview Prep Package</div>
                        </a>
                      </div>
                      {% endcomment %}
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/pilot-resume-planning" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Choosing an Alternate</div>
                        </a>
                      </div>
                      {% endcomment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/one-on-one-consulting-services/flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Consulting Services</div>
                        </a>
                      </div>
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/online-courses/flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>On-Demand Videos</div>
                        </a>
                      </div>
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/study-guides" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Study Guides</div>
                        </a>
                      </div>
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/live-webinars/flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Live Webinars</div>
                        </a>
                      </div>
                      {% endcomment %}
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/in-person-workshops/flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>In-Person Workshops</div>
                        </a>
                      </div>
                      {% endcomment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/pages/resources" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Pilot Resources</div>
                        </a>
                      </div>

                      
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/live-webinars" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Live Webinars</div>
                        </a>
                      </div>

                      <div class="nav-dropdown-flex-col-menu-link-wrapper nav-dropdown-flex-col-menu-link-wrapper-last">
                        <a href="/collections/past-webinar-recordings" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Past Webinars</div>
                        </a>
                      </div>

                    </div>
                    <div id="nav-dropdown-menu-services-2" class="nav-dropdown-flex-col-menu">
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/pages/general-interview-preparation" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>All Services</div>
                        </a>
                      </div>
                      {% endcomment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/now-what-an-initial-career-job-search-discussion" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Where Do I Start? An Introductory Job Search Discussion</div>
                        </a>
                      </div>
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/career-consulting" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Hourly Consulting Services</div>
                        </a>
                      </div>
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/resume-review" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Networking Resume</div>
                        </a>
                      </div>
                      {% endcomment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/cover-letter-review" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Resume & Planning</div>
                        </a>
                      </div>
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/linkedin-optimization-consult" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>LinkedIn Consultation</div>
                        </a>
                      </div>
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/products/hr-interview-prep-1" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Interview Preparation</div>
                        </a>
                      </div>
                      
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper">
                        <a href="/collections/live-webinars/non-flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>Live Webinars</div>
                        </a>
                      </div>
                      {% endcomment %}
                      {% comment %}
                      <div class="nav-dropdown-flex-col-menu-link-wrapper nav-dropdown-flex-col-menu-link-wrapper-last">
                        <a href="/collections/in-person-workshops/non-flying" class="nav-dropdown-flex-col-menu-link w-inline-block">
                          <div>In-Person Workshops</div>
                        </a>
                      </div>
                      {% endcomment %}
                    </div>
                  </div>
                  <div class="nav-dropdown-flex-col-last nav-dropdown-flex-col-last-2">
                    <div class="nav-dropdown-flex-col-bg"></div>
                  </div>
                </div>
              </nav>
            </div>
            {% comment %}
            <a href="/pages/quiz" class="nav-link w-nav-link">Need Help?</a>
            {% endcomment %}
            {% comment %}
            <a href="/pages/quick-shop-airline" class="nav-link w-nav-link">Quick Shop</a>
            {% endcomment %}
            <a href="/pages/contact" class="nav-link w-nav-link">Contact</a>
          <div data-hover="1" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-dropdown-toggle w-dropdown-toggle">
              <div>About</div>
              <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
            </div>
            <nav class="nav-dropdown-menu w-dropdown-list">
              <div class="nav-dropdown-flex-row">
                <div class="nav-dropdown-flex-col nav-dropdown-flex-col-extra">
                  <div class="nav-dropdown-flex-col-inner">
                    <div class="nav-dropdown-link-wrapper nav-dropdown-link-wrapper-about-first">
                      <a id="nav-dropdown-about-link-1" href="/pages/about-us" class="nav-dropdown-link w-inline-block">
                        <div>About Us</div>
                      </a>
                    </div>
                    <div class="nav-dropdown-link-wrapper">
                      <a id="nav-dropdown-about-link-2" href="/pages/partnerships-and-events" class="nav-dropdown-link w-inline-block">
                        <div>PARTNERSHIPS &amp; Events</div>
                      </a>
                    </div>
                    <div class="nav-dropdown-link-wrapper nav-dropdown-link-wrapper-last">
                      <a id="nav-dropdown-about-link-3" href="/pages/careers" class="nav-dropdown-link w-inline-block">
                        <div>Careers</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="nav-dropdown-flex-col-middle nav-dropdown-flex-col-middle-about">
                  <p id="nav-dropdown-text-about-1" class="nav-dropdown-flex-col-text nav-dropdown-flex-col-text-active">Learn more about Cage Marshall&#x27;s 30 year history helping people get hired.</p>
                  <p id="nav-dropdown-text-about-2" class="nav-dropdown-flex-col-text">Stay up to date with the latest news and industry events where you can find Cage Marshall Consulting.</p>
                  <p id="nav-dropdown-text-about-3" class="nav-dropdown-flex-col-text">Learn about open job opportunities at Cage Marshall Consulting.</p>
                </div>
                <div class="nav-dropdown-flex-col-last"></div>
              </div>
            </nav>
          </div>


          {% comment %}<a href="/" aria-current="page" class="nav-brand-link w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-blue-min.png" alt="Cage Marshall Mark" class="nav-brand-img"></a>{% endcomment %}</nav>
        <div class="nav-mobile-flex-row"><a href="/" aria-current="page" class="nav-mobile-brand-link w-inline-block w--current"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-blue-min.png" alt="Cage Marshall Mark" class="nav-mobile-brand-img"></a>
          <div class="menu-btn w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% schema %}

{
  "name": "Header",
  "settings": [
      {
         "type": "richtext",
         "id": "announcement_text",
         "label": "Announcement Bar"
      }
  ]
}
{% endschema %}