<div class="hero-wrapper-contact">
  <div class="hero-heading-wrapper-contact">
    <div class="hero-heading-wrapper-contact">
      <h1 class="hero-heading-contact">{{ section.settings.heading }}</h1>
      <div class="hero-breaker-contact"></div>
    </div>
    <div class="testimonial-body-wrapper">
      <div class="social-icon-wrapper">
        <a
          href="https://www.instagram.com/cagemarshallconsulting/?hl=en"
          target="_blank"
          class="footer-menu-link-wrapper social">
          <img
            class="social-icon"
            src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-instagram.svg?v=1678496283"
            style="margin-right: 20px"
            width="90">
        </a>
        <a
          href="https://www.linkedin.com/company/cagemarshallconsulting"
          target="_blank"
          class="footer-menu-link-wrapper social">
          <img
            class="social-icon"
            src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-linkedin.svg?v=1678496282"
            style="margin-right: 20px"
            width="90">
        </a>
        <a
          href="https://www.facebook.com/CageMarshallConsulting/"
          target="_blank"
          class="footer-menu-link-wrapper social">
          <img
            class="social-icon"
            src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-facebook.svg?v=1678496282"
            style="margin-right: 20px"
            width="90">
        </a>
        <a
          href="https://twitter.com/cageconsulting?lang=en"
          target="_blank"
          class="footer-menu-link-wrapper social">
          <img
            class="social-icon"
            src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/icon-twitter.svg?v=1678496282"
            style="margin-right: 20px"
            width="90">
        </a>
      </div>
      <div class="instagram-widget">
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe
          src="https://cdn.lightwidget.com/widgets/9d615bf695a158249e6196aa78741c80.html"
          scrolling="no"
          allowtransparency="true"
          class="lightwidget-widget"
          style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Social List",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "KEEP UP WITH CAGE MARSHALL"
      }
    ]
  }
{% endschema %}