<div class="testimonial-section-new">
  <div class="testimonial-section-content-wrapper">
    <div class="testimonial-heading-wrapper">
      <h3 class="testimonial-heading">Hear From Our Clients</h3>
      <div class="testimonial-heading-breaker"></div>
    </div>
    <div data-animation="slide" data-duration="750" data-infinite="1" class="testimonial-slider w-slider">
      <div class="w-slider-mask">
        <div class="w-slide">
          <div class="testimonial-slide-inner">
            <p class="testimonial-slide-heading">Seriously, the best money ever spent!</p>
            <p class="testimonial-slide-text">I have been wanting to get hired at Alaska since I started flying. I interviewed there once before and used another prep company. Not only was I given canned responses but I was not given the tools or the guidance to &quot;think on my feet&quot; so to speak when the interview landscape changed. Angie was able to educate me on the process so that I was ready for anything and everything. Not only was I prepared for the interview but I was truly PROUD of myself. Thank you CMC for helping me get to the airline of my dreams.</p>
          </div>
        </div>
        <div class="w-slide">
          <div class="testimonial-slide-inner">
            <p class="testimonial-slide-heading">You guys are on it!</p>
            <p class="testimonial-slide-text">You knew the interview process changed before anyone and prepared me for it. In fact, I was so ready that I got the job offer. I had worked with two other prep businesses and nothing came close to your experience. You were professional, attentive, knew how to address my specific needs, and educated me on myself and FAL. I wish I would have found you all sooner as I would have been successful two years and two prep businesses sooner!</p>
          </div>
        </div>
        <div class="w-slide">
          <div class="testimonial-slide-inner">
            <p class="testimonial-slide-heading">Thank you so much for hosting the interview workshop today!</p>
            <p class="testimonial-slide-text">I can not begin to tell you how helpful it was to hear your insight into the application and interview process. As someone who has just started the process of applying, it was great to get so much helpful advice early on. I appreciate you both taking the time out of your busy schedules to travel and host such a great event. Thank you again, I look forward to working with Cage Marshall in the future!</p>
          </div>
        </div>
        <div class="w-slide">
          <div class="testimonial-slide-inner">
            <p class="testimonial-slide-heading">I can&#x27;t begin to tell you how impressed I was with your company!</p>
            <p class="testimonial-slide-text">I wanted to update you all on my jetBlue interview. I GOT IT! All the way from Lenny taking the time to help me decide what services were the best fit for me to scheduling the sessions. And you all gave perfect advice to me on the video and in-person processes for JetBlue. I was afraid of being rehearsed and canned but at no time was that a factor with your team. I was, as Holly said, presenting my true self, at the interview and it felt good. I am giving your name to everyone I meet. Thank you.</p>
          </div>
        </div>
      </div>
      <div class="testimonial-slider-arrow w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="testimonial-slider-arrow w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="testimonial-nav w-slider-nav"></div>
    </div>
  </div>
  <div class="animation-overlay-white" data-ix="animation-overlay-right"></div>
</div>


{% schema %}

{
  "name": "Testimonials"
}
{% endschema %}

