<div class="hero-wrapper">
  <div class="hero-row w-row">
    <div class="hero-col-left w-col w-col-6">
      <div class="hero-col-left-inner">
        <div class="hero-col-logo-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-logo-white-min.png"
            alt="Cage Marshall Consulting"
            class="footer-logo-img"></div>
        {% comment %}
        <h1 class="hero-col-heading">Cage Marshall Consulting</h1>
        <div class="hero-col-logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-white-min.png" alt="Cage Marshall Mark" width="150" class="hero-col-img"></div>
        {% endcomment %}
        <p class="hero-col-text">Proudly Providing<br class="break-hide-mobile">Customized Career Services Since 1988<br class="break-hide-mobile"> (Flying and Non-Flying Positions)</p>
        <div class="hero-col-breaker"></div>
        <p class="hero-col-text-alt">LET'S GET STARTED!</p>
        <div class="hero-col-btn-wrapper-flex">
          <a
            href="/pages/airline-interview-preparation"
            class="hero-col-btn-flex hero-col-btn-flex-top w-button"
            data-ix="hero-info-box-1">PILOT CAREER SERVICES</a>
          <a
            href="/collections/general-job-search-services"
            class="hero-col-btn-flex w-button"
            data-ix="hero-info-box-2">GENERAL JOB SEARCH SERVICES</a>
          <div class="hero-col-info-box">
            <p class="hero-col-info-box-text">Job search and interview prep for any aviation related position including: pilot, LCA, Instructor, Fleet Mgr, etc.</p>
          </div>
          <div class="hero-col-info-box-2">
            <p class="hero-col-info-box-text">Job search services for any industry or profession outside of aviation (career consulting, networking, LinkedIn profile, interview prep)</p>
          </div>
        </div>


      </div>

    </div>
    <div class="hero-col-right w-col w-col-6"></div>
  </div>
</div>
{% comment %}
<div class="sub-hero-banner-section">
<div class="container-xl">
<h3 class="sub-hero-banner-heading"><strong>OVER 150,000 PILOTS</strong> <br>HAVE BENEFITED FROM OUR PERSONALIZED SERVICES &amp; STUDY GUIDES.</h3>
</div>
<div class="sub-hero-banner-content-wrapper">
<p class="sub-hero-banner-text">Cage Marshall Consulting was founded in 1988 by Cheryl Cage, author of the original, best-selling interview prep book, <strong><em>Checklist for Success: A Pilot’s Guide to the Successful Airline Interview</em></strong>. Whether you are applying for a flying or non-flying position, all Cage Marshall consultants are former interviewers, background check specialists, and pilot instructors (from various airlines), giving us a unique perspective on how to best prepare and educate you for any interview no matter the point in your career.</p>
<div class="sub-hero-banner-btn-wrapper">
<a href="/pages/about-us" class="sub-hero-banner-btn w-inline-block">
<div class="btn-breaker-white"></div>
<div>WATCH VIDEO</div>
</a>
</div>
</div>
</div>
{% endcomment %}{% comment %}
<div class="sub-hero-content-block">
<div class="sub-hero-row w-row">
<div class="sub-hero-col-design w-col w-col-5">
<div class="sub-hero-col-design-inner">
<h3 class="sub-hero-design-heading"><strong>OVER 150,000 PILOTS</strong> <br>HAVE BENEFITED FROM OUR PERSONALIZED SERVICES &amp; STUDY GUIDES.</h3>

</div>
<div class="animation-overlay-white" data-ix="animation-overlay-right"></div>
</div>
<div class="sub-hero-col-content w-col w-col-7">
<div class="sub-hero-col-content-inner">
<p class="sub-hero-content-text">Cage Marshall Consulting was founded in 1988 by Cheryl Cage, author of the original, best-selling interview prep book, <strong><em>Checklist for Success: A Pilot’s Guide to the Successful Airline Interview</em></strong>. Whether you are applying for a flying or non-flying position, all Cage Marshall consultants are former interviewers, background check specialists, and pilot instructors (from various airlines), giving us a unique perspective on how to best prepare and educate you for any interview no matter the point in your career.</p>
<div class="sub-hero-col-btn-wrapper">
<a href="/pages/about-us" class="btn-main w-inline-block">
<div class="btn-breaker"></div>
<div>WATCH VIDEO</div>
</a>
</div>
</div>
<div class="animation-overlay-white" data-ix="animation-overlay-left"></div>
</div>
</div>
</div>
{% endcomment %}{% section 'jc-testimonial-section' %}
{% section 'jc-social-list' %}