
<div class="hero-wrapper-contact">
  <div class="hero-heading-wrapper-contact">
    <h1 class="hero-heading-contact">Contact</h1>
    <div class="hero-breaker-contact"></div>
    <p class="hero-text-contact">Reach Out To Us Today And Learn How We Can Help You Reach Your Goals.</p>
  </div>
</div>

<div class="banner-wrapper-contact">
  <div class="container-small">
    <div class="banner-flex-row-contact">
      <a href="mailto:info@cageconsulting.com" class="banner-flex-link-contact w-inline-block">
        <div>info@cageconsulting.com</div>
      </a>
      <a href="tel:+17202221432" class="banner-flex-link-contact banner-flex-link-contact-middle w-inline-block">
        <div>(720) 222-1432</div>
      </a>
      <div class="banner-flex-text-contact">M–F: 9:00am–5:00pm, MST</div>
    </div>
  </div>
</div>

<div class="bottom-section-contact">
  <div class="container-small">
    <p class="bottom-text-contact">For questions, evaluations, or to schedule an appointment, please contact our office or fill in the information below and hit the submit button. Emails and phone calls are returned promptly and in the order they are received Monday - Friday. If your call is urgent, please specify this in your message.</p>
    <p class="bottom-text-contact">We are closed on all major US holidays. Weekend appointments are available on a limited basis and must be made by special request.</p>
  </div>
  <div class="form-block-contact w-form">
    <div class="form-design-block-contact"></div>

    {% form 'contact', id:"Contact-Form" %}
    {% if form.posted_successfully? %}
      <div class="jc-form-success">
        <div>Thank you! Your submission has been received!</div>
      </div>
      {% else %}
      <input type="hidden" name="contact[form-name]" value="General Contact Form">
      <div class="form-top-wrapper-contact">
        <div class="form-row-contact w-row">
          <div class="form-col-contact-left w-col w-col-6">
            <div class="form-img-wrapper-contact"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-white-min.png" alt="Cage Marshall Mark" class="form-img-contact"></div><input type="text" class="form-input-contact w-input" maxlength="256" name="contact[Name]" data-name="Name" placeholder="Name*" id="name" required=""><input type="email" class="form-input-contact w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="Email*" id="email" required=""><input type="text" class="form-input-contact w-input" maxlength="256" name="contact[Phone-Number]" data-name="Phone Number" placeholder="Phone Number*" id="Phone-Number" required=""></div>
          <div class="form-col-contact-right w-col w-col-6"><textarea placeholder="Your Message*" maxlength="5000" id="Message" name="contact[Message]" data-name="Message" required="" class="form-input-area-contact w-input"></textarea></div>
        </div>
      </div>
      <div class="form-btn-wrapper"><input type="submit" value="Submit" data-wait="Please wait..." class="form-btn w-button"></div>
      {% endif %}
    {% endform %}

  </div>
</div>
