<div class="hero-wrapper">
  <div class="hero-row w-row">
    <div class="hero-col-left w-col w-col-6">
      <div class="hero-col-left-inner">
        <h1 class="hero-col-heading">SERVICE FINDER QUIZ</h1>
        <div class="hero-col-logo-wrapper"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-white-min.png" alt="Cage Marshall Mark" width="150" class="hero-col-img"></div>
        <p class="hero-col-text">Let us help you find the perfect product or service to help you prepare for your job search.</p>
        {% comment %}
        <div class="hero-col-btn-wrapper"><a href="#" class="hero-col-btn w-button">Begin The Quiz</a></div>
        {% endcomment %}
      </div>
    </div>
    <div class="hero-col-right hero-col-right-quiz w-col w-col-6"></div>
  </div>
</div>



<div class="page-wrapper-quiz">
	<div class="content-wrapper-quiz">
		<div class="sy-quiz" id="5e8ce8d8a4d67"></div>
	</div>
</div>
