
<div class="hero-wrapper-collection">
  <div class="hero-row-collection w-row">
    <div class="hero-col-left-collection w-col w-col-6"></div>
    <div class="hero-col-right-collection w-col w-col-6">
      <div class="hero-col-right-inner-collection">
        <h1 class="hero-col-heading-collection">One-on-One Consulting Services</h1>
        <div class="hero-col-breaker-collection"></div>
        <p class="hero-col-text-collection">One-on-one preparation with our Experienced &amp; knowledgeable team of specialists.</p>
        <div class="hero-col-btn-wrapper"><a href="/pages/general-interview-preparation" class="hero-col-btn w-button">Back to Main Shop</a></div>
      </div>
    </div>
  </div>
</div>
<div class="mid-wrapper-collection">
  <div class="mid-heading-section-collection">
    <h3 class="mid-heading-collection">Choose a Service Type:</h3>
    <div class="mid-menu-collection">
      <a href="#" class="mid-menu-link-collection mid-menu-link-collection-active w-inline-block">
        <div>General Interview Prep</div>
      </a>
      <a href="#" class="mid-menu-link-collection mid-menu-link-collection-border w-inline-block">
        <div>Airline Interview Prep</div>
      </a>
    </div>
  </div>
  <div class="mid-content-wrapper-collection">
    <div class="mid-flex-row-wrapper-collection">
      <div class="mid-flex-row-collection">
        <div class="flex-col-collection">
          <div class="flex-col-inner-collection">
            <div class="flex-col-top-wrapper-collection">
              <h3 class="flex-col-heading-collection">APPLICATION &amp; RESUME REVIEW</h3>
              <div class="flex-col-top-breaker-collection"></div>
              <div class="flex-col-text-collection">Includes one application review and one resume review, plus a phone consult.</div>
              <div class="flex-col-price-text-collection">$299.00 USD</div>
            </div>
            <div class="flex-col-bottom-wrapper-collection">
              <a href="#" class="bottom-flex-link-collection w-inline-block">
                <div>Add to Cart</div>
              </a>
              <a href="#" class="bottom-flex-link-collection bottom-flex-link-collection-border w-inline-block">
                <div>Learn More</div>
              </a>
            </div>
          </div>
        </div>
        <div class="flex-col-collection">
          <div class="flex-col-inner-collection">
            <div class="flex-col-top-wrapper-collection">
              <h3 class="flex-col-heading-collection">CAREER &amp; SPECIAL CONCERNS CONSULTING</h3>
              <div class="flex-col-top-breaker-collection"></div>
              <div class="flex-col-text-collection">For clients who need help addressing special situations during the interview.</div>
              <div class="flex-col-price-text-collection">$299.00 USD</div>
            </div>
            <div class="flex-col-bottom-wrapper-collection">
              <a href="#" class="bottom-flex-link-collection w-inline-block">
                <div>Add to Cart</div>
              </a>
              <a href="#" class="bottom-flex-link-collection bottom-flex-link-collection-border w-inline-block">
                <div>Learn More</div>
              </a>
            </div>
          </div>
        </div>
        <div class="flex-col-collection">
          <div class="flex-col-inner-collection">
            <div class="flex-col-top-wrapper-collection">
              <h3 class="flex-col-heading-collection">RECRUITING EVENT &amp; JOB FAIR PREP</h3>
              <div class="flex-col-top-breaker-collection"></div>
              <div class="flex-col-text-collection">Learn how to best tell your story, starting with your elevator pitch.</div>
              <div class="flex-col-price-text-collection">$299.00 USD</div>
            </div>
            <div class="flex-col-bottom-wrapper-collection">
              <a href="#" class="bottom-flex-link-collection w-inline-block">
                <div>Add to Cart</div>
              </a>
              <a href="#" class="bottom-flex-link-collection bottom-flex-link-collection-border w-inline-block">
                <div>Learn More</div>
              </a>
            </div>
          </div>
        </div>
        <div class="flex-col-collection">
          <div class="flex-col-inner-collection">
            <div class="flex-col-top-wrapper-collection">
              <h3 class="flex-col-heading-collection">TECHNICAL PREP, LOI, SBI, CRM</h3>
              <div class="flex-col-top-breaker-collection"></div>
              <div class="flex-col-text-collection">Prepare for technical skills assessment tests, SBI, LIO and CRM interviews.</div>
              <div class="flex-col-price-text-collection">$299.00 USD</div>
            </div>
            <div class="flex-col-bottom-wrapper-collection">
              <a href="#" class="bottom-flex-link-collection w-inline-block">
                <div>Add to Cart</div>
              </a>
              <a href="#" class="bottom-flex-link-collection bottom-flex-link-collection-border w-inline-block">
                <div>Learn More</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
