<div class="hero-wrapper-news"></div>
<div class="mid-wrapper-news">
  <div class="mid-heading-wrapper-news">
    <h1 class="hero-heading-news">PARTNERSHIPS &amp; EVENTS</h1>
    <p class="hero-text-news">Stay up to date with the latest news from Cage Marshall and follow along with us as we attend a variety of industry events throughout the year.</p>
  </div>

  <div class="container-large">
    <div class="mid-flex-row-news logos">

      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://fastpilots.org/" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/fast_b3bf50a6-c785-4ee1-a24c-3b9963383d8b.png?v=1656443108" alt="">
          </a>
        </div>
      </div>

      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://www.latinopilot.org/" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/lpa_2320048e-0c4e-44b0-83f1-8c5ff3e834c1.png?v=1656443108" alt="">
          </a>
        </div>
      </div>

      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://www.ngpa.org/?locale=en_us" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/ngpa_2c4d398d-32de-4d15-bf57-6ab4b45b7387.png?v=1656443108" alt="">
          </a>
        </div>
      </div>

      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://sistersoftheskies.org/" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/sos_f3b4df41-41b3-4393-a74a-9364cf6853b8.png?v=1656443108" alt="">
          </a>
        </div>
      </div>

      {%comment%}
      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://obap.org/" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/obap_87bab10f-3ddc-4a8e-b0ba-276ba9e06ff7.png?v=1656443108" alt="">
          </a>
        </div>
      </div>
      {%endcomment%}

      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://pilotpipeline.com/" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/pilot-pipeline.png?v=1656443108" alt="">
          </a>
        </div>
      </div>

      <div class="mid-flex-col-news small">
        <div class="mid-flex-col-inner-news bg-none">
          <a href="https://www.asianpilots.org/" class="mid-flex-col-link-news w-inline-block center" target="_blank">
            <img class="events-img" src="https://cdn.shopify.com/s/files/1/0065/3987/0244/files/papa_e3c53d4c-8a93-4113-9b41-f95701ecfe6d.png?v=1656443108" alt="">
          </a>
        </div>
      </div>


      {%comment%} ----------------------------- BLOGS
      <div class="mid-flex-col-news">
        <div class="mid-flex-col-inner-news">
          <a href="#" class="mid-flex-col-link-news w-inline-block">
            <div class="flex-col-content-wrapper-news">
              <div class="flex-col-heading-wrapper-news">
                <div class="flex-col-date-text-news">March 20, 2019</div>
                <h4 class="flex-col-heading-news">Southwest Airlines: Application Window Closes March 20, 2019</h4>
              </div>
              <div class="mid-flex-col-bottom-news">
                <div class="flex-col-breaker-news"></div>
                <div class="flex-col-link-news-text">Read More</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mid-flex-col-news">
        <div class="mid-flex-col-inner-news">
          <a href="#" class="mid-flex-col-link-news w-inline-block">
            <div class="flex-col-content-wrapper-news">
              <div class="flex-col-heading-wrapper-news">
                <div class="flex-col-date-text-news">March 20, 2019</div>
                <h4 class="flex-col-heading-news">Southwest Airlines: Application Window Closes March 20, 2019</h4>
              </div>
              <div class="mid-flex-col-bottom-news">
                <div class="flex-col-breaker-news"></div>
                <div class="flex-col-link-news-text">Read More</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mid-flex-col-news">
        <div class="mid-flex-col-inner-news">
          <a href="#" class="mid-flex-col-link-news w-inline-block">
            <div class="flex-col-content-wrapper-news">
              <div class="flex-col-heading-wrapper-news">
                <div class="flex-col-date-text-news">March 20, 2019</div>
                <h4 class="flex-col-heading-news">Southwest Airlines: Application Window Closes March 20, 2019</h4>
              </div>
              <div class="mid-flex-col-bottom-news">
                <div class="flex-col-breaker-news"></div>
                <div class="flex-col-link-news-text">Read More</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mid-flex-col-news">
        <div class="mid-flex-col-inner-news">
          <a href="#" class="mid-flex-col-link-news w-inline-block">
            <div class="flex-col-content-wrapper-news">
              <div class="flex-col-heading-wrapper-news">
                <div class="flex-col-date-text-news">March 20, 2019</div>
                <h4 class="flex-col-heading-news">Southwest Airlines: Application Window Closes March 20, 2019</h4>
              </div>
              <div class="mid-flex-col-bottom-news">
                <div class="flex-col-breaker-news"></div>
                <div class="flex-col-link-news-text">Read More</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mid-flex-col-news">
        <div class="mid-flex-col-inner-news">
          <a href="#" class="mid-flex-col-link-news w-inline-block">
            <div class="flex-col-content-wrapper-news">
              <div class="flex-col-heading-wrapper-news">
                <div class="flex-col-date-text-news">March 20, 2019</div>
                <h4 class="flex-col-heading-news">Southwest Airlines: Application Window Closes March 20, 2019</h4>
              </div>
              <div class="mid-flex-col-bottom-news">
                <div class="flex-col-breaker-news"></div>
                <div class="flex-col-link-news-text">Read More</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="mid-flex-col-news">
        <div class="mid-flex-col-inner-news">
          <a href="#" class="mid-flex-col-link-news w-inline-block">
            <div class="flex-col-content-wrapper-news">
              <div class="flex-col-heading-wrapper-news">
                <div class="flex-col-date-text-news">March 20, 2019</div>
                <h4 class="flex-col-heading-news">Southwest Airlines: Application Window Closes March 20, 2019</h4>
              </div>
              <div class="mid-flex-col-bottom-news">
                <div class="flex-col-breaker-news"></div>
                <div class="flex-col-link-news-text">Read More</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {%endcomment%}
    </div>
  </div>
</div>


{%comment%}
<div class="bottom-section-news">
  <div class="bottom-content-holder-news">
    <div class="bottom-content-block-news">
      <div class="bottom-flex-heading-wrapper-news">
        <h4 class="bottom-flex-heading-news">UPCOMING INDUSTRY EVENTS</h4>
        <div class="bottom-flex-heading-breaker-news"></div>
      </div>
      <div class="content-block-bottom-wrapper-news">
        <div class="content-flex-row-news">
          <div class="content-flex-col-news-1"><a href="#" class="content-flex-col-img-news w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/info-min.png" alt="Info" class="content-flex-img-news"></a></div>
          <div class="content-flex-col-news-2">
            <h5 class="content-flex-col-title-news">Southwest Airlines Pilot Career Expo</h5>
          </div>
          <div class="content-flex-col-news-3">
            <div class="content-flex-col-date-news">Feb. 16, 2019</div>
          </div>
          <div class="content-flex-col-news-4">
            <div class="content-flex-col-date-news">(Invitation Only)</div>
          </div>
        </div>
        <div class="content-flex-row-news">
          <div class="content-flex-col-news-1"><a href="#" class="content-flex-col-img-news w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/info-min.png" alt="Info" class="content-flex-img-news"></a></div>
          <div class="content-flex-col-news-2">
            <h5 class="content-flex-col-title-news">The RTAG Convention</h5>
          </div>
          <div class="content-flex-col-news-3">
            <div class="content-flex-col-date-news">Apr. 13 – 14, 2019</div>
          </div>
          <div class="content-flex-col-news-4">
            <div class="content-flex-col-date-news">Fort Campbell, KY</div>
          </div>
        </div>
        <div class="content-flex-row-news">
          <div class="content-flex-col-news-1"><a href="#" class="content-flex-col-img-news w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/info-min.png" alt="Info" class="content-flex-img-news"></a></div>
          <div class="content-flex-col-news-2">
            <h5 class="content-flex-col-title-news">Cage Marshall Consulting presenting at the NGPA Inclusion Summit</h5>
          </div>
          <div class="content-flex-col-news-3">
            <div class="content-flex-col-date-news">Nov. 18 – 19, 2019</div>
          </div>
          <div class="content-flex-col-news-4">
            <div class="content-flex-col-date-news">Phoenix, AZ</div>
          </div>
        </div>
        <div class="content-flex-row-news">
          <div class="content-flex-col-news-1"><a href="#" class="content-flex-col-img-news w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/info-min.png" alt="Info" class="content-flex-img-news"></a></div>
          <div class="content-flex-col-news-2">
            <h5 class="content-flex-col-title-news">NGPA Annual Industry Expo</h5>
          </div>
          <div class="content-flex-col-news-3">
            <div class="content-flex-col-date-news">Feb. 7, 2020</div>
          </div>
          <div class="content-flex-col-news-4">
            <div class="content-flex-col-date-news">Palm Springs, CA</div>
          </div>
        </div>
        <div class="content-flex-row-news">
          <div class="content-flex-col-news-1"><a href="#" class="content-flex-col-img-news w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/info-min.png" alt="Info" class="content-flex-img-news"></a></div>
          <div class="content-flex-col-news-2">
            <h5 class="content-flex-col-title-news">Women in Aviation: International Annual Aviation Conference</h5>
          </div>
          <div class="content-flex-col-news-3">
            <div class="content-flex-col-date-news">Mar. 5 – 7, 2020</div>
          </div>
          <div class="content-flex-col-news-4">
            <div class="content-flex-col-date-news">Long Beach, CA</div>
          </div>
        </div>
        <div class="content-flex-row-news">
          <div class="content-flex-col-news-1"><a href="#" class="content-flex-col-img-news w-inline-block"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/info-min.png" alt="Info" class="content-flex-img-news"></a></div>
          <div class="content-flex-col-news-2">
            <h5 class="content-flex-col-title-news">Organization of Black Aerospace Professionals Annual Convention and Career Expo</h5>
          </div>
          <div class="content-flex-col-news-3">
            <div class="content-flex-col-date-news">Aug. 12 – 14, 2020</div>
          </div>
          <div class="content-flex-col-news-4">
            <div class="content-flex-col-date-news">Phoenix, AZ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endcomment%}
{% section 'jc-events-section' %}

{% section 'jc-newsletter-cta' %}


