<div class="hero-wrapper-careers"></div>
  <div class="mid-wrapper-careers">
    <div class="mid-heading-wrapper-careers">
      <h1 class="hero-heading-careers">Careers</h1>
      <p class="hero-text-experience">See full details below for all positions we are looking to fill, If you have questions, please fill out the form below and we will be in contact shortly.</p>
    </div>
    <div class="mid-content-holder-careers">
      <div class="mid-content-block-careers">
        <div class="mid-flex-heading-wrapper-careers">
          <h4 class="mid-flex-heading-careers">AVAILABLE POSITIONS</h4>
          <div class="mid-flex-heading-breaker-careers"></div>
        </div>
        <div class="content-block-bottom-wrapper-careers">
          <div class="content-flex-row-careers">
            <div class="content-flex-col-careers-1">
              <div class="content-col-img-holder-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/more-min.png" alt="Down Arrow" class="content-flex-img-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/less-min.png" alt="Up Arrow" class="content-flex-img-careers-active"></div>
            </div>
            <div class="content-flex-col-careers-2">
              <h5 class="content-flex-col-title-careers">INTERVIEW CONSULTANT</h5>
            </div>
            <div class="content-flex-col-careers-3">
              <div class="content-flex-col-date-careers">Posted: March 17, 2020</div>
            </div>
            <div class="content-flex-col-careers-4"><a href="#" class="content-flex-col-btn-careers w-button">Application Closed</a></div>
            {% comment %}
            <div class="expand-wrapper-careers">
              <div class="expand-wrapper-inner-careers">
                <p class="expand-text-careers">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
            {% endcomment %}
          </div>
          <div class="content-flex-row-careers">
            <div class="content-flex-col-careers-1">
              <div class="content-col-img-holder-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/more-min.png" alt="Down Arrow" class="content-flex-img-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/less-min.png" alt="Up Arrow" class="content-flex-img-careers-active"></div>
            </div>
            <div class="content-flex-col-careers-2">
              <h5 class="content-flex-col-title-careers">MILITARY TRANSITION SPECIALIST</h5>
            </div>
            <div class="content-flex-col-careers-3">
              <div class="content-flex-col-date-careers">Posted: March 03, 2020</div>
            </div>
            <div class="content-flex-col-careers-4"><a href="#" class="content-flex-col-btn-careers w-button">Application Closed</a></div>
            {% comment %}
            <div class="expand-wrapper-careers">
              <div class="expand-wrapper-inner-careers">
                <p class="expand-text-careers">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
            {% endcomment %}
          </div>
          <div class="content-flex-row-careers">
            <div class="content-flex-col-careers-1">
              <div class="content-col-img-holder-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/more-min.png" alt="Down Arrow" class="content-flex-img-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/less-min.png" alt="Up Arrow" class="content-flex-img-careers-active"></div>
            </div>
            <div class="content-flex-col-careers-2">
              <h5 class="content-flex-col-title-careers">TECHNICAL CONSULTANT</h5>
            </div>
            <div class="content-flex-col-careers-3">
              <div class="content-flex-col-date-careers">Posted: March 17, 2020</div>
            </div>
            <div class="content-flex-col-careers-4"><a href="#" class="content-flex-col-btn-careers w-button">Application Closed</a></div>
            {% comment %}
            <div class="expand-wrapper-careers">
              <div class="expand-wrapper-inner-careers">
                <p class="expand-text-careers">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-section-careers">
    <div class="form-heading-wrapper-careers">
      <h2 class="form-heading-careers">HAVE QUESTIONS?</h2>
      <p class="form-text-careers">Please reach out to us if you have questions about career opportunities at Cage Marshall.</p>
    </div>
    <div class="form-block-careers w-form">
      <div class="form-design-block-careers"></div>

     {% form 'contact', id:"Contact-Form" %}
      {% if form.posted_successfully? %}
        <div class="jc-form-success">
          <div>Thank you! Your submission has been received!</div>
        </div>
        {% else %}
        <input type="hidden" name="contact[form-name]" value="Careers Form">
        <div class="form-top-wrapper-careers">
          <div class="form-row-careers w-row">
            <div class="form-col-careers-left w-col w-col-6">
              <div class="form-img-wrapper-careers"><img src="//cdn.shopify.com/s/files/1/0065/3987/0244/files/cage-mark-white-min.png" alt="Cage Marshall Mark" class="form-img-careers"></div><input type="text" class="form-input-careers w-input" maxlength="256" name="contact[Name]" data-name="Name" placeholder="Name*" id="name" required=""><input type="email" class="form-input-careers w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="Email*" id="email" required=""><input type="text" class="form-input-careers w-input" maxlength="256" name="contact[Phone-Number]" data-name="Phone Number" placeholder="Phone Number*" id="Phone-Number" required=""></div>
            <div class="form-col-careers-right w-col w-col-6"><textarea placeholder="Your Message*" maxlength="5000" id="Message" name="contact[Message]" data-name="Message" required="" class="form-input-area-careers w-input"></textarea></div>
          </div>
        </div>
        <div class="form-btn-wrapper"><input type="submit" value="Submit" data-wait="Please wait..." class="form-btn w-button"></div>
        {% endif %}
     {% endform %}

      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>

  {% section 'jc-newsletter-cta' %}
