{%comment%}
{% unless customer %}

    {% if template contains 'customers' %}

        {% assign send_to_login = false %}

    {% else if page.handle = 'resources' %}

        {% assign send_to_login = true %}

    {% endif %}

{% endunless %}

 if send_to_login 

<meta content="0; url=/account/login?checkout_url={{ shop.url }}" http-equiv="refresh" />

{% else %}
{%endcomment%}

<div class="mid-wrapper-resources">
    <div class="container-small">
      <div class="top-wrapper-resources small-margin">
        <h1 class="mid-heading-resources">Online Career Resources For Pilots</h1>
        <div class="mid-breaker-resources"></div>
        <div class="mid-text-holder-resources">
          <p class="mid-text-service">Helping pilots find career opportunities.</p>
        </div>
      </div>
      <div class="bottom-wrapper-resources">

        {%comment%} --------------- Start Resources Page --------------- {%endcomment%}


            <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
              <div class="w-tab-menu">
        
                <a data-w-tab="Tab 1" class="tab-link col w-inline-block w-tab-link w--current">
                  <div class="bottom-heading-resources-light tab">Airlines (Part 121)</div>
                </a>


        
                {%comment%}---------- Application ----------- {%endcomment%}


                <a data-w-tab="Tab 3" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">LOGbooks</div>
                </a>

                <a data-w-tab="Tab 9" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">CORPORATE / CHARTER COMPANIES (PART 135/91/91K)</div>
                </a>
        
                <a data-w-tab="Tab 8" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">Passport</div>
                </a>
        
                <a data-w-tab="Tab 4" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">Pilot Job Boards</div>
                </a>
                
                <a data-w-tab="Tab 7" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">FAA Medical</div>
                </a>

                <a data-w-tab="Tab 2" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">Applications</div>
                </a>

                <a data-w-tab="Tab 6" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">Paperwork</div>
                </a>
        
                <a data-w-tab="Tab 5" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">Government Jobs</div>
                </a>

                <a data-w-tab="Tab 10" class="tab-link col w-inline-block w-tab-link">
                  <div class="bottom-heading-resources-light tab">Financial Planning</div>
                </a>
        
              </div>
              <div class="tabs-content w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">This list links to the website careers pages for all the major consumer airlines.</p>
                    <div class="bottom-flex-row-resources">

                      {% section 'jc-resources-airlines' %}

                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane">
        
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">These applications help you easily track your credentials online.</p>

        
                      
                      {% section 'jc-resources-applications' %}
                        {%comment%}
                        <a href="#" class="bottom-flex-link-resources w-inline-block">
                          <div>airapps.com</div>
                        </a>
                      </div>
                      <div class="bottom-flex-col-resources">
                        <a href="#" class="bottom-flex-link-resources w-inline-block">
                          <div>pilotcredentials.com</div>
                        </a>
                        {%endcomment%}

                  </div>
                </div>
        
                <div data-w-tab="Tab 3" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">These resources help you audit and prepare your logbooks.</p>
                    <div class="bottom-content-log-resources">
                      
                      {% section 'jc-resources-logbook' %}

                    </div>
                  </div>
                </div>
        
                <div data-w-tab="Tab 4" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">This is a list of online job boards and postings for different types of pilot jobs.</p>
                    <div class="bottom-flex-row-resources">

                      {% section 'jc-resources-corporate-resources' %}

                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 5" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">This is a list of places you can find flying jobs within the government</p>
                    <div class="bottom-flex-row-resources">
                      
                      {% section 'jc-resources-government-jobs' %}

                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 6" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">Here are instructions as to where you can find paperwork you may need in order to apply for a flying job.</p>
                    
                    {% section 'jc-resources-paperwork' %}

                  </div>
                </div>
                <div data-w-tab="Tab 7" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">These are links where you can find your FAA medical exam results.</p>
                    
                      
                      {% section 'jc-resources-faa-medical' %}

                    
                  </div>
                </div>

                <div data-w-tab="Tab 8" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">This is a link where you can find your passport documents.</p>
                    
                      
                      {% section 'jc-resources-passport' %}

                    
                  </div>
                </div>

                <div data-w-tab="Tab 9" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">These are links to the website careers pages for a few major corporate/charter airline companies</p>
                    <div class="bottom-flex-row-resources">
                      
                      {% section 'jc-resources-corporate-charter' %}

                    </div>
                  </div>
                </div>

                <div data-w-tab="Tab 10" class="w-tab-pane">
                  <div class="bottom-content-holder-resources">
                    <p class="bottom-content-text-heading-resources hidden">These are links to Financial Planning</p>
                    
                      
                      {% section 'jc-resources-financial-planning' %}

                    
                  </div>
                </div>


              </div>
            </div>
            <div class="bottom-wrapper-resources hidden">
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">Airlines (Part 121)</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">This list links to the website careers pages for all the major consumer airlines.</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Air Wisconsin Airlines</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">Applications</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">These applications help you easily track your credentials online.</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>airapps.com</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>pilotcredentials.com</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">CORPORATE / CHARTER COMPANIES (PART 135/91/91K)</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">These are links to the website careers pages for a few major corporate/charter airline companies</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Delta Private Jet</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Flexjet</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>NetJets</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>L3 Harris</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Wheels Up</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">CORPORATE / CHARTER RESOURCES</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">This is a list of online job boards and postings for different types of pilot jobs.</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>bizjetjobs.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Corporate Pilot Job]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>everyjobforme.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Aviation Job]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>aviationjobsearch.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Aviation Job]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>simplyhired.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Corporate Pilot Jobs]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>willflyforfood.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Pilot Job]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>joblist.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Aviation Job]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>nbaa.com</div>
                        <div class="bottom-flex-link-text-alt-resources">[Aviation Job]</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>pilotjobs.io</div>
                        <div class="bottom-flex-link-text-alt-resources">[Corporate Pilot Jobs]</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">Government Jobs</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">This is a list of places you can find flying jobs within the government</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>FAA</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Government Aviation</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Homeland Security / Border Patrol</div>
                      </a>
                    </div>
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Intelligence, Surveillance, and Reconnaissance</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">Paperwork</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">Here are instructions as to where you can find paperwork you may need in order to apply for a flying job.</p>
                  <ul role="list" class="bottom-list-resources">
                    <li class="bottom-list-item-resources">
                      <div>Request copies of all college transcripts (all schools, not just where you graduated from but any schools you were enrolled or took any classes).</div>
                    </li>
                    <li class="bottom-list-item-resources">
                      <div>Employment and Residential History from:</div>
                      <div class="bottom-list-item-indent-wrapper">
                        <a href="#" class="bottom-list-text-alt-resources w-inline-block">
                          <div>US Social Security Administration</div>
                        </a>
                        <a href="#" class="bottom-list-text-alt-resources w-inline-block">
                          <div>US Social Security Administration</div>
                        </a>
                      </div>
                    </li>
                    <li class="bottom-list-item-resources">
                      <div>Request for copies of your FAA Complete Airman File:</div>
                      <div class="bottom-list-item-indent-wrapper">
                        <a href="#" class="bottom-list-text-alt-resources w-inline-block">
                          <div>Link Here</div>
                        </a>
                      </div>
                    </li>
                    <li class="bottom-list-item-resources">
                      <div>Contact info related to driving:</div>
                      <div class="bottom-list-item-indent-wrapper">
                        <a href="#" class="bottom-list-text-alt-resources w-inline-block">
                          <div>State DMV</div>
                        </a>
                        <a href="#" class="bottom-list-text-alt-resources w-inline-block">
                          <div>National Driver Register (NDR) 1-888-327-4236</div>
                        </a>
                      </div>
                    </li>
                    <li class="bottom-list-item-resources">
                      <div>Military Records:</div>
                      <div class="bottom-list-item-indent-wrapper">
                        <a href="#" class="bottom-list-text-alt-resources w-inline-block">
                          <div>Link Here</div>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">FAA Medical</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">These are links where you can find your FAA medical exam results.</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Aviation Medical Examiner</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">Passport</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">This is a link where you can find your passport documents.</p>
                  <div class="bottom-flex-row-resources">
                    <div class="bottom-flex-col-resources">
                      <a href="#" class="bottom-flex-link-resources w-inline-block">
                        <div>Civilian Passport</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom-content-block-resources">
                <div class="bottom-heading-wrapper-resources show">
                  <h4 class="bottom-heading-resources light">Logbooks</h4>
                  <div class="bottom-heading-breaker-resources"></div>
                </div>
                <div class="bottom-content-holder-resources">
                  <p class="bottom-content-text-heading-resources hidden">These resources help you audit and prepare your logbooks.</p>
                  <div class="bottom-content-log-resources">
                    <div class="bottom-content-text-log-resources">LogTen Pro Coradine Aviation – <a href="#" class="bottom-content-text-log-resources-link">Electronic logbook</a>
                    </div>
                    <div class="bottom-content-text-log-resources">AccuLog – <a href="#" class="bottom-content-text-log-resources-link">Ensure complete accuracy of your flight timeslectronic logbook</a>
                    </div>
                    <div class="bottom-content-text-log-resources">Prosoft Binders – <a href="#" class="bottom-content-text-log-resources-link">Logbook Printing Services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        {%comment%} --------------- End Resources Page --------------- {%endcomment%}

      </div>
    </div>
  </div>

  {%comment%}
{%endif%}
{%endcomment%}

  <style>
    .bottom-heading-breaker-resources {
      border-top: 1px solid #24326a;
    }
    .bottom-content-text-heading-resources.hidden{
      display: none;
    }
    .bottom-heading-resources.light{
      color:#02abb5;;
    }
    .bottom-heading-resources {
      color: #24326a;
    }
    .bottom-heading-wrapper-resources{
      
    }
    .bottom-heading-wrapper-resources.show{
      display: flex;
    }
  </style>

<script type="text/javascript">
  $(document).ready(function() { 

    $('.bottom-list-rte-resources a').each(function(i, obj) {
        $(this).attr('target',"_blank");
    });

   });
</script>

