
  <div class="hero-wrapper-airline-prep">
    <h1 class="hero-heading-airline-prep">Pilot Career Services</h1>
  </div>
  <div class="sub-hero-wrapper-general">
    <div class="container-small">
      <h3 class="sub-hero-banner-heading-airline-prep"><strong>OVER 150,000 PILOTS</strong> <br>HAVE BENEFITED FROM OUR PERSONALIZED SERVICES &amp; STUDY GUIDES.</h3>
      <p class="sub-hero-text-airline-all-services">Cage Marshall Consulting was founded in 1988 by Cheryl Cage, author of the original, best-selling interview prep book, <strong><em>Checklist for Success: A Pilot’s Guide to the Successful Airline Interview</em></strong>. Whether you are applying for a flying or non-flying position, all Cage Marshall consultants are former interviewers, background check specialists, and pilot instructors (from various airlines), giving us a unique perspective on how to best prepare and educate you for any interview no matter the point in your career.</p>
    </div>
  </div>
  <div class="mid-wrapper-general">
    <div class="container-large">
      <div class="mid-flex-row-general">

        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-3" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">Consulting Services</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">Consulting Services</h4>
                <p class="mid-overlay-text-all-services">Our one-on-one consulting services will help you walk into your pilot interview with confidence. Take advantage of our application and resume reviews, technical prep or special concerns consulting.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/one-on-one-consulting-services/flying" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-4" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">Interview Prep Package</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">Interview Prep Package</h4>
                <p class="mid-overlay-text-all-services">Your interview will be based on your personal background and career experience. Shouldn't your prep be too? Our best-selling interview preparation package is customized to your needs to provide the best possible interview prep.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/products/premium-pilot-interview-prep-package" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-7" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">Resume, Application & Cover Letter Services</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">Resume, Application & Cover Letter Services</h4>
                <p class="mid-overlay-text-all-services">Impress potential employers on paper and ensure your resume and cover letter are error-free!</p>

                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/resume-cover-letter-services/flying" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>VIEW RESUME & COVER LETTER SERVICES</div>
                  </a>
                </div>
                <div class="mid-overlay-btn-wrapper-all-services mid-overlay-btn-wrapper-all-services-margin">
                  <a href="/collections/application-review-services/flying" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>VIEW APPLICATION SERVICES</div>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-2" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">On-Demand Videos</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">On-Demand Videos</h4>
                <p class="mid-overlay-text-all-services">Prefer to study for your upcoming pilot interview at your own pace? Purchase an online course and prepare for your upcoming interview during your own time.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/online-courses/flying" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">Study Guides</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">Study Guides</h4>
                <p class="mid-overlay-text-all-services">Choose from 5 different best-selling interview prep books that have helped thousands of pilots get their dream job over the past 30 years.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/study-guides" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-8" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">Live Webinars</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">Live Webinars</h4>
                <p class="mid-overlay-text-all-services">Attend one of our live webinars so you can ask questions to a Cage Marshall Career Expert in real time!.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/live-webinars" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %}
        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-5" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">Live Webinars</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">Live Webinars</h4>
                <p class="mid-overlay-text-all-services">Sign up for one of our upcoming webinars to prepare for your pilot interview, learn how to address special concerns or submit your best possible resume or application.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/live-webinars/flying" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}

        {% comment %}
        <div class="mid-flex-col-all-services">
          <div class="mid-flex-col-inner-all-services mid-flex-col-inner-all-services-6" data-ix="all-services-col">
            <h3 class="mid-flex-col-heading-all-services">In-Person workshops</h3>
            <div class="mid-overlay-all-services">
              <div class="mid-overlay-content-wrapper-all-services">
                <h4 class="mid-overlay-heading-all-services">In-Person workshops</h4>
                <p class="mid-overlay-text-all-services">Cage Marshall offers a variety of in-person workshops throughout the year in cities and at events and expos around the United States. Sign up for our email list to be notified for the next in-person workshop.</p>
                <div class="mid-overlay-btn-wrapper-all-services">
                  <a href="/collections/in-person-workshops/flying" class="mid-overlay-btn-all-services w-inline-block">
                    <div class="mid-btn-breaker-all-services"></div>
                    <div>View All</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endcomment %}

      </div>
    </div>
  </div>

  <div class="sub-hero-section">
    <div class="sub-hero-content-block">

        <div class="sub-hero-content-block-alt">
          <div class="sub-hero-col-content-inner-alt">
            <h3 class="sub-hero-row-heading">WE HELP PILOTS PREPARE FOR INTERVIEWS WITH:</h3>
            <div class="sub-hero-flex-row-wrapper sub-hero-flex-row-wrapper-alt">
              <div class="sub-hero-flex-row w-row">
                <div class="sub-hero-flex-col w-col w-col-4 w-col-small-4 w-col-tiny-4">
                  <div class="sub-hero-flex-col-inner">
                    <p class="sub-hero-flex-col-text">Alaska Airlines</p>
                    <p class="sub-hero-flex-col-text">Allegiant</p>
                    <p class="sub-hero-flex-col-text">American Airlines</p>
                    <p class="sub-hero-flex-col-text">Atlas Air</p>
                    <p class="sub-hero-flex-col-text">Boeing</p>
                    <p class="sub-hero-flex-col-text">Corporate</p>
                    <p class="sub-hero-flex-col-text">Delta Air Lines</p>
                    <p class="sub-hero-flex-col-text">FedEx</p>
                    <p class="sub-hero-flex-col-text">Frontier Airlines</p>
                  </div>
                </div>
                <div class="sub-hero-flex-col w-col w-col-4 w-col-small-4 w-col-tiny-4">
                  <div class="sub-hero-flex-col-inner">
                    <p class="sub-hero-flex-col-text">Hawaiian Airlines</p>
                    <p class="sub-hero-flex-col-text">JetBlue</p>
                    <p class="sub-hero-flex-col-text">Kalitta Air</p>
                    <p class="sub-hero-flex-col-text">NASA</p>
                    <p class="sub-hero-flex-col-text">Regionals</p>
                    <p class="sub-hero-flex-col-text">Spirit</p>
                    <p class="sub-hero-flex-col-text">Southwest Airlines</p>
                    <p class="sub-hero-flex-col-text">United Airlines</p>
                    <p class="sub-hero-flex-col-text">UPS</p>
                  </div>
                </div>
                <div class="sub-hero-flex-col w-col w-col-4 w-col-small-4 w-col-tiny-4">
                  <div class="sub-hero-flex-col-inner">
                    <p class="sub-hero-flex-col-text">International Carriers</p>
                    <p class="sub-hero-flex-col-text">Chief Pilot</p>
                    <p class="sub-hero-flex-col-text">Assistant Chief Pilot</p>
                    <p class="sub-hero-flex-col-text">Pilot Instructor</p>
                    <p class="sub-hero-flex-col-text">Sim Instructor</p>
                    <p class="sub-hero-flex-col-text">Line Check Airman</p>
                    <p class="sub-hero-flex-col-text">Fleet Manager</p>
                  </div>
                </div>
              </div>
            </div>
            {% comment %}
            <div class="sub-hero-col-btn-wrapper">
              <a href="/pages/quiz" class="btn-main w-inline-block">
                <div class="btn-breaker"></div>
                <div>Find a Service</div>
              </a>
            </div>
            {% endcomment %}
          </div>
          
      </div>
    

    </div>
  </div>


 {% section 'jc-newsletter-cta' %}