<div class="hero-wrapper-general">
  <h1 class="hero-heading-general">General Job Search</h1>
</div>
<div class="sub-hero-wrapper-general">
  <div class="container-small">
    <p class="sub-hero-text-general">REVIEW OUR NON-FLYING INTERVIEW PREP SERVICES BELOW:</p>
  </div>
</div>
<div class="mid-wrapper-general">
  <div class="container-large">
    <div class="mid-flex-row-general">
      <div class="mid-flex-col-general">
        <div class="mid-flex-col-inner-general" data-ix="general-services-col">
          <h3 class="mid-flex-col-heading-general">On-Demand Videos</h3>
          <div class="mid-overlay-general">
            <div class="mid-overlay-content-wrapper-general">
              <h4 class="mid-overlay-heading-general">On-Demand Videos</h4>
              <p class="mid-overlay-text-general">Our self-paced online courses allow busy clients to prepare for an upcoming interview at their own pace, but without missing any important aspects of interview prep.</p>
              <div class="mid-overlay-btn-wrapper-general">
                <a href="/collections/online-courses/non-flying" class="mid-overlay-btn-general w-inline-block">
                  <div class="mid-btn-breaker-general"></div>
                  <div>View All</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mid-flex-col-general">
        <div class="mid-flex-col-inner-general mid-flex-col-inner-general-2" data-ix="general-services-col">
          <h3 class="mid-flex-col-heading-general">Consulting Services</h3>
          <div class="mid-overlay-general">
            <div class="mid-overlay-content-wrapper-general">
              <h4 class="mid-overlay-heading-general">Consulting Services</h4>
              <p class="mid-overlay-text-general">Our individual consulting services allow you to choose a topic to review one-on-one with one of our trained interview prep consultants.</p>
              <div class="mid-overlay-btn-wrapper-general">
                <a href="/collections/one-on-one-consulting-services/non-flying" class="mid-overlay-btn-general w-inline-block">
                  <div class="mid-btn-breaker-general"></div>
                  <div>View All</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mid-flex-col-general">
        <div class="mid-flex-col-inner-general mid-flex-col-inner-general-5" data-ix="general-services-col">
          <h3 class="mid-flex-col-heading-general">Resume & Cover Letter Services</h3>
          <div class="mid-overlay-general">
            <div class="mid-overlay-content-wrapper-general">
              <h4 class="mid-overlay-heading-general">Resume & Cover Letter Services</h4>
              <p class="mid-overlay-text-general">Impress potential employers on paper and ensure your resume and cover letter are error-free!</p>
              <div class="mid-overlay-btn-wrapper-general">
                <a href="/collections/resume-cover-letter-services/non-flying" class="mid-overlay-btn-general w-inline-block">
                  <div class="mid-btn-breaker-general"></div>
                  <div>View All</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
      <div class="mid-flex-col-general">
        <div class="mid-flex-col-inner-general mid-flex-col-inner-general-3" data-ix="general-services-col">
          <h3 class="mid-flex-col-heading-general">In-Person Workshops</h3>
          <div class="mid-overlay-general">
            <div class="mid-overlay-content-wrapper-general">
              <h4 class="mid-overlay-heading-general">IN-PERSON WORKSHOPS</h4>
              <p class="mid-overlay-text-general">We host a variety of in-person workshops throughout the year in cities and at events and expos around the United States. Sign up for our email list to be notified for the next in-person workshop.</p>
              <div class="mid-overlay-btn-wrapper-general">
                <a href="/collections/in-person-workshops/non-flying" class="mid-overlay-btn-general w-inline-block">
                  <div class="mid-btn-breaker-general"></div>
                  <div>View All</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}

      {% comment %}
      <div class="mid-flex-col-general">
        <div class="mid-flex-col-inner-general mid-flex-col-inner-general-4" data-ix="general-services-col">
          <h3 class="mid-flex-col-heading-general">Live Webinars</h3>
          <div class="mid-overlay-general">
            <div class="mid-overlay-content-wrapper-general">
              <h4 class="mid-overlay-heading-general">LIVE WEBINARS</h4>
              <p class="mid-overlay-text-general">Our live webinars take place on specific dates and times and allow you to engage with a live interview prep consultant as well as other webinar attendees so you can ask questions and learn in real time.</p>
              <div class="mid-overlay-btn-wrapper-general">
                <a href="/collections/live-webinars/non-flying" class="mid-overlay-btn-general w-inline-block">
                  <div class="mid-btn-breaker-general"></div>
                  <div>View All</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}

    </div>
  </div>
</div>
{% comment %}
<div class="banner-cta-general">
  <div class="banner-cta-content-wrapper">
    <h3 class="banner-cta-heading-general">VIDEO LIBRARY SUBSCRIPTION</h3>
    <p class="banner-cta-text-general">We offer a variety of pre-recorded videos that will help you during your career search. Videos span a wide range of topics from resume development to job fair tips and tricks. A monthly subscription to our video library gets you access to all our interview prep videos for as long as you need it, and you can cancel your subscription at any time!</p>
    <div class="banner-cta-btn-general">
      <a href="#" class="banner-cta-btn w-inline-block">
        <div class="banner-cta-btn-breaker"></div>
        <div>LEARN MORE</div>
      </a>
    </div>
  </div>
</div>
{% endcomment %}

{% section 'jc-newsletter-cta' %}

